html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'font-name';
  font-display: swap;
  src: url("../fonts/font-name.woff2") format("woff2"), url("../fonts/font-name.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;
  --alabaster: #f7f7f7;
  --cape-cod: #353738;
  --oslo-gray: #848789;
  --outer-space: #282f35;
  --silver-tree: #64c29e;
  --scarpa-flow: #4d4959;
  --gallery: #ebebeb;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
  padding: 0 35px;
}

.menu__item:nth-child(2) {
  padding: 0 110px 0 35px;
}

.menu__item:nth-child(3) {
  padding: 0 35px 0 110px;
}

.menu__item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 3px;
  height: 3px;
  background-color: var(--scarpa-flow);
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__item:nth-child(2)::after, .menu__item:last-child::after {
  display: none;
}

.menu__link {
  font-size: 13px;
  letter-spacing: 2.5px;
  color: var(--scarpa-flow);
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    overflow: auto;
    background-color: var(--scarpa-flow);
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }
  .menu__body.active {
    top: 0;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__item {
    padding: 0 0 45px 0;
  }
  .menu__item:nth-child(2), .menu__item:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__item:nth-child(2)::after, .menu__item:nth-child(3)::after {
    display: block;
  }
  .menu__item:last-child {
    padding: 0;
  }
  .menu__item::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 3px;
    height: 3px;
    background-color: var(--white);
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 5px;
  }
  .menu__link {
    font-size: 18px;
    color: var(--white);
  }
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .burger span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--scarpa-flow);
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .burger.active span {
    background-color: var(--white);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .burger.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.generation {
  padding: 120px 0;
  background-color: var(--alabaster);
}

@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 35px 0;
  }
}

.block {
  text-align: center;
}

.block__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  color: var(--cape-cod);
  text-transform: uppercase;
  margin: 20px 0;
}

.block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: var(--oslo-gray);
}

.block__text--justify {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text--justify::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: var(--gallery);
}

@media (max-width: 1400px) {
  .block__text--justify::after {
    margin-top: 15px;
  }
}

.brands--reverse .brands__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brands--reverse .brands__column--big {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column--big {
  -webkit-box-flex: 66.667%;
      -ms-flex: 66.667%;
          flex: 66.667%;
}

.brands__content {
  position: relative;
  padding: 70px 65px 55px 65px;
}

.brands__content::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--white);
}

.brands__image {
  background-image: url("../img/brands/02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 37.5%;
}

.brands__image--reverse {
  background-image: url("../img/brands/04.jpg");
}

.brands__image--sixth {
  background-image: url("../img/brands/06.jpg");
}

@media (max-width: 1400px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1050px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brands--last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brands--last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .brands--last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}

.item__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/brands/01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item__image--reverse {
  background-image: url("../img/brands/03.jpg");
}

.item__image--fifth {
  background-image: url("../img/brands/05.jpg");
}

.item__image--seventh {
  background-image: url("../img/brands/07.jpg");
}

.item__image--f {
  background-image: url("../img/shop/01.jpg");
}

.item__image--s {
  background-image: url("../img/shop/02.jpg");
}

.item__image--t {
  background-image: url("../img/shop/03.jpg");
}

.item__image--fo {
  background-image: url("../img/shop/04.jpg");
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 1050px) {
  .item {
    height: auto;
    padding-bottom: 70%;
  }
}

.social {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--alabaster);
}

.social__icon {
  text-align: center;
}

.social__title {
  font-size: 18px;
  text-align: center;
  margin: 25px 0;
  color: var(--cape-cod);
}

.social__title span {
  font-weight: 300;
  color: var(--oslo-gray);
}

.social__text {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: var(--oslo-gray);
  text-align: center;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .social {
    padding: 50px 0;
  }
}

@media (max-width: 500px) {
  .social__text {
    font-size: 18px;
  }
}

.subscribe {
  padding: 110px 0;
  background-color: var(--white);
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}

.subscribe__label {
  font-size: 24px;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 35px;
  color: var(--oslo-gray);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 10px;
}

.subscribe__input input {
  padding: 30px;
  width: 100%;
  height: 70px;
  border: 1px solid #d3d7d9;
  background-color: var(--white);
  color: var(--outer-space);
  font-size: 20px;
}

.subscribe__input input::-webkit-input-placeholder {
  color: #929292;
  font-style: italic;
}

.subscribe__input input:-ms-input-placeholder {
  color: #929292;
  font-style: italic;
}

.subscribe__input input::-ms-input-placeholder {
  color: #929292;
  font-style: italic;
}

.subscribe__input input::placeholder {
  color: #929292;
  font-style: italic;
}

.subscribe__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 125px;
          flex: 1 1 125px;
  width: 100%;
}

.subscribe__btn {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  color: var(--white);
  background-color: var(--silver-tree);
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .subscribe {
    padding: 50px 0;
  }
}

@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
  .subscribe__input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer {
  padding: 100px 0;
  background-color: var(--alabaster);
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__address {
  -ms-grid-column-align: start;
      justify-self: start;
}

.footer__address p {
  font-size: 14px;
  line-height: 18px;
  color: var(--oslo-gray);
}

.footer__address p:not(:first-child) {
  font-weight: 400;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__social {
    margin: 25px 0;
  }
}

.social__link {
  margin: 0 7.5px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.dev__text {
  font-size: 14px;
  font-style: italic;
  color: var(--oslo-gray);
  margin-right: 10px;
}
