@font-face {
   font-family: 'font-name';
   font-display: swap;
   src: url('../fonts/font-name.woff2') format('woff2'), url('../fonts/font-name.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}