.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0 15px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
}