.brands {

   &--reverse {
      .brands__column {
         order: 1;
         &--big {
            order: 2;
         }
      }
   }

   &__row {
      display: flex;
   }

   &__column {
      flex: 0 1 33.333%;

      &--big {
         flex: 66.667%;
      }
   }

   &__item {
   }

   &__content {
      position: relative;
      padding: 70px 65px 55px 65px;

      &::after {
         content: '';
         position: absolute;
         bottom: -10px;
         left: 50%;
         transform: translateX(-50%);
         width: 0;
         height: 0;
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-top: 10px solid var(--white);
      }
   }

   &__image {
      background-image: url('../img/brands/02.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-bottom: 37.5%;

      &--reverse {
         background-image: url('../img/brands/04.jpg');
      }

      &--sixth {
         background-image: url('../img/brands/06.jpg');
      }
   }

   @media (max-width: 1400px) {
      &__content {
         padding: 40px 35px 30px 35px;
      }
   }

   @media (max-width: 1050px) {
      &__row {
         flex-direction: column;
      }

      &--last {
         .brands__column {
            &:nth-child(1) {
               order: 2;
            }

            &:nth-child(2) {
               order: 1;
            }

            &:nth-child(3) {
               order: 3;
            }
         }
      }
   }
}

.item {
   display: block;
   position: relative;
   height: 100%;

   &__logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      background-color: rgba(#64c29e, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/brands/01.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &--reverse {
         background-image: url('../img/brands/03.jpg');
      }

      &--fifth {
         background-image: url('../img/brands/05.jpg');
      }

      &--seventh {
         background-image: url('../img/brands/07.jpg');
      }

      &--f {
         background-image: url('../img/shop/01.jpg');
      }

      &--s {
         background-image: url('../img/shop/02.jpg');
      }

      &--t {
         background-image: url('../img/shop/03.jpg');
      }

      &--fo {
         background-image: url('../img/shop/04.jpg');
      }
   }

   &:hover {
      .item__logo {
         opacity: 1;
         visibility: visible;
         transition: opacity 0.3s;
      }
   }

   @media (max-width: 1050px) {
      height: auto;
      padding-bottom: 70%;
   }
}