.social {
   padding-top: 120px;
   padding-bottom: 120px;
   background-color: var(--alabaster);

   &__item {
   }

   &__icon {
      text-align: center;
   }

   &__title {
      font-size: 18px;
      text-align: center;
      margin: 25px 0;
      color: var(--cape-cod);

      span {
         font-weight: 300;
         color: var(--oslo-gray);
      }
   }

   &__text {
      font-size: 24px;
      line-height: 34px;
      font-style: italic;
      color: var(--oslo-gray);
      text-align: center;
      font-weight: 400;
   }

   @media (max-width: 1050px) {
      padding: 50px 0;
   }

   @media (max-width: 500px) {
      &__text {
         font-size: 18px;
      }
   }
}
.social_body {
}
